.container {
    padding: 30px;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1000px;
    height: 100vw;
}

.header {
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    color: #fff;
    text-align: center;
    background-color: #6b2980;
    border-radius: 4px;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.list {
    padding-top: 20px;
    margin: 0 auto;
    width: 80%;
}

.add_new {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
}

.done {
    text-decoration: line-through;
}

.btn-custom {
    background-color: #6b2980;
}
.btn-custom:hover {
    background-color: #82329c;
}

.fa-solid {
    margin-left: 20px;
    color: #bd80d1;
}

.fa-solid:hover {
    color:  #82329c;
}

