.is_done {
    text-decoration: line-through;
}

.fas {
    margin-left: 20px;
    color: #bd80d1;
}

.fas:hover {
    color:  #82329c;
}

.btn-custom {
    border-color: #6b2980;
}
.btn-custom:hover {
    background-color: #82329c;
}